.rep-skill__icons,
.stiff-skill__icons,
.hit-skill__icons {
  display: flex;
  flex-wrap: wrap;
}

.skill-icon {
  margin-right: 5px;
}

.skill-icon > img {
  transition: transform 0.3s;
}

.big-icon {
  transform: scale(1.1);
  border: 5px solid gray;
  border-radius: 5px;
}

.small-icon {
  width: 32px;
  height: 32px;
}

.enter-skill__icon {
  display: flex;
  margin-bottom: 10px;
}

.enter-skill__icon > div > img {
  margin-right: 10px;
}
