nav {
  width: 250px;
  margin-right: 15px;
}

.region-list {
  margin: 0;
  position: fixed;
  background-color: white;
  border-radius: 30px;
  width: 225px;
  padding: 20px 15px;
}

.region > span {
  font-size: 18px;
  font-weight: bold;
}

.classes {
  padding: 3px;
}

.class-list {
  margin: 5px 0px 10px 0px;
}

.classes:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
