section {
  width: 60vw;
  padding: 0px 20px 10px 20px;
  z-index: 1;
  overflow: hidden;
  height: 80vh;
}

article {
  overflow-y: scroll;
  height: 90%;
}

article::-webkit-scrollbar {
  display: none;
}

.class-skill > div {
  padding-top: 10px;
}
