section {
  width: 70vw;
  height: 80vh;
  padding: 0px 20px 10px 20px;
  z-index: 1;
  touch-action: none;
  position: fixed;
  left: 260px;
}

article {
  width: 100%;
  overflow-y: scroll;
  height: 70vh;
}

article::-webkit-scrollbar {
  display: none;
}

.class-skill > div {
  padding-top: 10px;
}
