section {
  width: calc(100vw - 300px);
  height: 75vh;
  padding: 0px 20px 10px 20px;
  z-index: 1;
  touch-action: none;
  position: fixed;
  left: 280px;
}

section > hr {
  width: 90%;
  margin-inline-start: 0;
}

article {
  width: 90%;
  overflow-y: scroll;
  height: calc(75vh - 60px);
}

article::-webkit-scrollbar {
  display: none;
}

.class-skill > div {
  padding-top: 10px;
}

h3 {
  font-size: 24px;
}
