@import "header.css";
@import "nav.css";
@import "section.css";
@import "icons.css";
@import "popup.css";
@import "winplan.css";
@import "footer.css";
@import "exp.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap");

:root {
  --underbar: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
}

h4 {
  font-weight: 500;
}

.back-image {
  background-image: url("https://cdn-lostark.game.onstove.com/uploadfiles/banner/c8d1f941da604f1784b2d7b9468641fc.jpg");
  opacity: 20%;
  background-size: cover;
  background-position-x: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 850px;
  margin-top: 130px;
}

.hidden {
  visibility: hidden;
}

ul {
  list-style: none;
  padding-inline-start: 20px;
}

.mobile-block {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bolder;

  z-index: 3;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(-45deg, #f0896a, #e6558c, #3cb0da, #3cd6b2);
  background-size: 400% 400%;

  animation: animationBackground 10s ease infinite;
}

@keyframes animationBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (orientation: portrait) {
  .mobile-block {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header {
    height: 100px;
  }

  header > h1 {
    font-size: 1.8em;
  }

  aside {
    left: -200px;
  }

  main {
    margin-top: 110px;
  }

  section {
    width: 85vw;
    left: calc(7.5vw - 20px);
  }

  article {
    width: 100%;
  }

  section > hr {
    width: 100%;
  }

  .popup {
    left: -2px;
    right: 0px;
    bottom: 1vh;
  }
}

@media screen and (min-width: 500px) {
  nav {
    display: none;
  }
}
